.clothes-section {
  flex-grow: 1;
  margin-left: 40px;
}

.clothes-section__row {
  display: flex;
  margin-left: 15px;
}

.clothes-section__items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-auto-rows: 328px;
  grid-gap: 20px;
  box-sizing: border-box;
  justify-items: center;
  width: 100%;
  padding-left: 0;
}
